* {
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #eef2f3, #ffffff);
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    padding: 20px;
}

header h1 {
    font-size: 2.4rem;
    margin-bottom: 5px;
    background: linear-gradient(90deg, #51bcff, #040a0b, #59ff9e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
     font-size: 1.2rem;
     font-weight: 450;
     background: linear-gradient(to bottom,#2f669c, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Controls */
.controls {
    margin: 20px;
}

.controls input {
    padding: 8px 10px;
    font-size: 16px;
    width: 180px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.controls button {
    padding: 8px 14px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: rgb(61, 192, 221);
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}

.controls button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}

/* Traversal buttons */
.traversal-buttons button {
    background-color: #2ecc71;
}

.traversal-buttons button:hover {
    background-color: #27ae60;
}

/* Legends */
.legend {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.legend div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legend-box {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.legend-box.normal {
  background-color: #3498db;
}

.legend-box.active {
  background-color: #f39c12;
}

.legend-box.found {
  background-color: #2ecc71;
}

/* Tree container */
.tree-container {
    position: relative;
    min-height: 350px;
    margin-top: 30px;
}

/* Nodes */
.node {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #3498db;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    transition: all 0.4s ease;
}

.node.active {
    background-color: #f39c12;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(243, 156, 18, 0.5);
}

.node.found {
    background-color: #2ecc71;
    box-shadow: 0 0 18px rgba(46, 204, 113, 0.7);
    transform: scale(1.1);
}

.node.not-found {
    background-color: #e74c3c;
    box-shadow:0 0 15px rgba(231, 76, 60, 0.6);
    transform: scale(1.1);
}

/* Output */
.output {
    margin: 30px auto;
    width: 70%;
    padding: 15px;
    background: #f0f0f0;
    border-radius: 10px;
    box-shadow: 6px 6px 12px #d1d1d1,
     -6px -6px 12px #ffffff;
}

.output h3 {
    margin-bottom: 10px;
    color: #23303c;
}

#outputText {
    font-size: 16px;
    color: #333;
}

/* SVG lines */
#tree-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
